mlruns
train
output.csv
train.tar.gz
cool/__pycache__


save_param/train_base_age
save_param/train_base_gender
save_param/train_base_mask


nohup.out
output.csv
save_param/train_base_age/fold1.pt
models/model